@use '../general/variables';

.cart-icon-wrapper {
  display: flex;
  position: relative;

  .nonempty-dot {
    height: 0.8125rem;
    width: 0.8125rem;
    border-radius: 50%;
    background-color: variables.$color-blue;
    position: absolute;
    top: 0;
    right: -0.125rem;
  }
}

.cart-icon {
  height: 2rem;
  width: 2rem;

  path {
    fill: variables.$color-black;
  }
}

.header-cart {
  display: flex;
  align-items: center;
  gap: 0.625rem;

  &.header-cart--nonempty:hover {
    cursor: pointer;
    opacity: 0.8;
  }

  &__text {
    display: none;
  }
}

.cart-drawer-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 2.5rem;
  padding-top: 1.875rem;
  margin-bottom: 3.125rem;
}

.cart-drawer-header-overview {
  display: flex;
  align-items: center;
  gap: 0.625rem;

  &__text {
    font-size: 1.15rem;
    font-weight: 700;
    line-height: 1.4375rem;
  }
}

.cart-drawer-header-close-icon {
  height: 2rem;
  width: 2rem;

  &:hover {
    cursor: pointer;
    opacity: 0.8;
  }

  path {
    fill: variables.$color-black;
  }
}

.cart-drawer-empty-icon {
  height: 5rem;
  width: 5rem;
  margin: 0 auto;
}

.cart-drawer-body {
  overflow-y: auto;
}

.cart-drawer-list {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  padding-inline: 1.25rem;
  margin-bottom: 3.125rem;
}

.cart-workshop-card {
  display: flex;
  width: 100%;
  min-height: 9.375rem;
  background-color: variables.$color-grey-background-light;
  border-radius: 0.375rem;
  overflow: hidden;
  position: relative;

  &__image {
    width: 100%;
    max-width: calc(1 / 3 * 100%);
    object-fit: cover;
  }

  &__text-content {
    display: flex;
    flex-direction: column;
    padding: 1.25rem;
    width: 100%;
  }
}

.cart-workshop-card-title {
  font-size: 1.1875rem;
  font-weight: 700;
  line-height: 1.5rem;
  height: 3rem;
  padding-right: 1.875rem;
  margin-bottom: 1.0625rem;
  color: variables.$color-blue;
  -webkit-line-clamp: 2;
}

.cart-workshop-card-delete-icon {
  height: 1.5rem;
  width: 1.5rem;
  position: absolute;
  top: 1.25rem;
  right: 1.25rem;

  &:hover {
    cursor: pointer;
    opacity: 0.8;
  }

  path {
    fill: variables.$color-grey-text;
  }
}

.cart-workshop-card-action-row {
  display: flex;
  align-items: center;
  gap: 0.625rem;
}

.cart-workshop-card-quantity {
  height: 2.8125rem;
  width: 4rem;
  padding-left: 1rem;
  padding-right: 0.375rem;
  font-size: 1.15625rem;
}

.cart-workshop-card-price {
  color: variables.$color-black;
  font-weight: 700;

  &__amount {
    font-size: 1.125rem;
    line-height: 1.5625rem;
    margin-right: 0.125rem;
  }

  &__currency {
    font-size: 0.75rem;
    line-height: 1.0625rem;
  }
}

.cart-drawer-footer {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  padding-inline: 2.5rem;
  padding-bottom: 1.875rem;
  margin-top: auto;
}

.cart-drawer-subtotal {
  display: flex;
  flex-direction: column;

  &__text {
    font-size: 0.84375rem;
    font-weight: 700;
    line-height: 1.0625rem;
    text-transform: uppercase;
    color: variables.$color-grey-text;
  }
}

.cart-drawer-subtotal-price {
  &__amount {
    font-size: 2rem;
    font-weight: 700;
    line-height: 2.5rem;
    margin-right: 0.3125rem;
  }

  &__currency {
    font-size: 1.1875rem;
    font-weight: 700;
    line-height: 1.5rem;
  }
}

.cart-drawer-checkout-button {
  font-size: 1.15rem;
  font-weight: 700;
  line-height: 1.4375rem;
  width: 100%;
  padding-top: 1.1875rem;
  padding-bottom: 1.125rem;
}

@media (min-width: variables.$breakpoint-list-full-card) {
  .cart-workshop-card-quantity {
    width: 4.3125rem;
  }

  .cart-workshop-card-price {
    &__amount {
      font-size: 1.26875rem;
      margin-right: 0.1875rem;
    }

    &__currency {
      font-size: 0.84375rem;
      line-height: 1.0625rem;
    }
  }
}

@media (min-width: variables.$breakpoint-sidebar) {
  .header-cart__text {
    display: block;
    font-size: 0.9375rem;
    font-weight: 700;
    line-height: 1.1875rem;
  }

  .cart-drawer-header,
  .cart-drawer-list {
    margin-bottom: 3.75rem;
  }

  .cart-drawer-header-overview__text {
    font-size: 1.4375rem;
    line-height: 1.8125rem;
  }

  .cart-drawer-subtotal__text {
    font-size: 0.84375rem;
    line-height: 1.0625rem;
  }

  .cart-drawer-subtotal-price {
    &__amount {
      font-size: 2.5rem;
      line-height: 3.125rem;
    }

    &__currency {
      font-size: 1.6875rem;
      line-height: 2.125rem;
    }
  }
}
