@use '../general/variables';

.date-input-wrapper {
  position: relative;
}

.date-input-calendar-icon {
  position: absolute;
  height: 1.5rem;
  width: 1.5rem;
  z-index: 1;
  top: 0.75rem;

  path {
    fill: variables.$color-black;
  }
}

.date-input {
  font-size: 1.15625rem;
  font-weight: 500;
  line-height: 1.4375rem;
  color: variables.$color-black;
  padding-block: 0.875rem !important;
  padding-left: 1.875rem !important;
  padding-right: 1.25rem !important;
  width: 100%;
  outline: none;
  border: none;
  border-bottom: 2px solid variables.$color-grey-text;

  &:hover,
  &:focus {
    border-color: variables.$color-blue;
  }
}

@media (min-width: variables.$breakpoint-modal) {
  .date-input-calendar-icon {
    top: 0.875rem;
  }

  .date-input {
    font-size: 1.125rem;
    line-height: 1.6875rem;
  }
}

.react-datepicker__current-month {
  display: none;
}

.react-datepicker__header__dropdown {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0.625rem;
}

.react-datepicker__day--keyboard-selected,
.react-datepicker__month-text--keyboard-selected,
.react-datepicker__quarter-text--keyboard-selected,
.react-datepicker__year-text--keyboard-selected {
  background-color: variables.$color-blue;
  color: variables.$color-white;
}

.react-datepicker__day--keyboard-selected:hover,
.react-datepicker__month-text--keyboard-selected:hover,
.react-datepicker__quarter-text--keyboard-selected:hover,
.react-datepicker__year-text--keyboard-selected:hover {
  background-color: variables.$color-blue-hover;
}
