@use '../general/variables';

.go-back {
  display: flex;
  align-items: center;
  gap: 0.3125rem;
  width: fit-content;
  margin-bottom: 1.25rem;

  &:hover {
    cursor: pointer;
    opacity: 0.8;
  }

  &__icon {
    width: 2rem;
    height: 2rem;

    path {
      fill: variables.$color-black;
    }
  }

  &__text {
    font-size: 0.84375rem;
    font-weight: 700;
    line-height: 1.0625rem;
    color: variables.$color-black;
  }
}

@media (min-width: variables.$breakpoint-details-sidebar) {
  .go-back-wrapper {
    grid-area: go-back;
  }

  .go-back {
    margin-top: 0.3125rem;

    &__text {
      font-size: 0.9375rem;
      line-height: 1.1875rem;
    }
  }
}
