@use '../general/variables';

header {
  height: 3.75rem;
  padding-inline: 1.25rem;
  background-color: variables.$color-yellow;
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.5rem;
  height: 100%;

  .logo-wrapper {
    display: flex; /* removes anchor extra height */
  }

  .logo {
    width: 5.625rem;

    &:hover {
      opacity: 0.8;
    }
  }

  .cart {
  }
}

@media (min-width: variables.$breakpoint-sidebar) {
  header {
    height: 5.625rem;
  }

  .header-content {
    .logo {
      width: 6.5625rem;
    }
  }
}
