@use '../general/variables';

.main-content {
  padding-inline: 1.25rem;
  padding-top: 1.5625rem;
  display: flex;
  flex-direction: column;
}

@media (min-width: variables.$breakpoint-list-sidebar) {
  .main-content.list {
    padding-top: 3.75rem;
    flex-direction: row;
  }
}

@media (min-width: variables.$breakpoint-details-sidebar) {
  .main-content.details {
    padding-top: 3.75rem;
    display: grid;
    grid-template-columns: 22.5rem 65rem;
    grid-template-rows: repeat(2, auto);
    grid-template-areas:
      'go-back workshop-details'
      '. similar-workshops';
  }
}
