@use '../general/variables';

main {
  margin-top: 3.75rem;
}

.main-content {
  padding-inline: 1.25rem;
  padding-top: 1.5625rem;
  display: flex;
  flex-direction: column;
}

@media (min-width: variables.$breakpoint-sidebar) {
  main {
    margin-top: 5.625rem;
  }

  .main-content.browse {
    padding-top: 3.75rem;
    flex-direction: row;
  }
}

@media (min-width: variables.$breakpoint-sidebar) {
  main {
    margin-top: 5.625rem;
  }

  .main-content.info {
    padding-top: 3.75rem;
    flex-direction: row;
  }
}
