@use '../general/variables';

.workshop-datetime {
  display: flex;
  align-items: center;
  gap: 0.1875rem;

  &__icon {
    display: none;
  }

  &__text {
    font-size: 0.84375rem;
    font-weight: 700;
    line-height: 1.0625rem;
  }
}

@media (min-width: variables.$breakpoint-card-datetime-price) {
  .workshop-datetime__icon {
    display: block;
    width: 1.125rem;
    height: 1.125rem;

    path {
      fill: variables.$color-black;
    }
  }
}

@media (min-width: variables.$breakpoint-sidebar) {
  .workshop-datetime__text {
    font-size: 0.9375rem;
    line-height: 1.0625rem;
  }
}
