$color-yellow: #ffce25;
$color-light-yellow: #ffe56d;
$color-blue: #0097cc;
$color-light-blue: #00aae4;
$color-black: #1d1d1b;
$color-white: #ffffff;
$color-grey-text: #7f7f7f;
$color-grey-background: rgba(127, 127, 127, 0.1);
$color-grey-border: #f2f2f2;
$color-red: #ff392e;
$color-modal-backdrop: rgba(29, 29, 27, 0.75);

$font-family: 'Livvic', sans-serif;

$box-shadow-card: 1px 2px 16px rgba(127, 127, 127, 0.25);
$box-shadow-button: 1px 2px 8px 0px #7f7f7f40;
$box-shadow-mobile-nav: 1px 2px 8px 0px #7f7f7f40;
$box-shadow-mobile-basket: -1px -2px 4px 0px #7f7f7f40;
$box-shadow-desktop-basket: 1px 2px 16px 0px #7f7f7f40;

$max-width-content: 90rem;

$breakpoint-list-full-card: 22rem;
$breakpoint-list-sidebar: 38rem; /* 15 + 20 + 3 (2*1.25 + ~0.5) */
$breakpoint-list-2-col: 60.5rem; /* 38 + 20 + 2.5 */
$breakpoint-list-3-col: 83rem; /* 60.5 + 20 + 2.5 */

$breakpoint-details-static-basket: 60.5rem;
$breakpoint-details-sidebar: 90rem;
