@use './variables';

.container {
  width: 100%;
  max-width: variables.$max-width-content;
  margin-inline: auto;
}

/* each element has to specify the -webkit-line-clamp value */
.truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  word-break: break-word;
}

.tab-focus {
  &:focus-visible {
    outline: 0.125rem solid variables.$color-black;
  }
}
